.newsPaper {
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.newsCanvas {
    display: flex;
    padding: 30px 50px;
    background-color: rgba(233, 233, 233, 0.373);
    background-repeat: no-repeat;
    background-size: cover;
    gap: 60px;
    flex-wrap: wrap;
    border-radius: 10px;
    height: min-content;
}

.latestNews {
    width: calc(45% - 30px);
    height: min-content;
    background-color: white;
    box-shadow: 0px 0px 4px 4px rgba(83, 83, 83, 0.038);
    border-radius: 7px;
}

.latestNews img {
    width: 100%;
    border-radius: 7px 7px 0px 0px;
}

.detail h5 {
    margin: 0;
    padding: 0px 7px;
    width: 100%;
    color: black;
    font-weight: 550;
}

.detail {
    display: flex;
    flex-direction: column;
}

.detail>p {
    margin: 0;
    padding: 0px 7px;
}

.detail span {
    font-size: 12px;
    align-self: flex-end;
    padding: 5px 7px;
}

.previousNews {
    max-height: 65vh;
    overflow-y: auto;
    width: calc(55% - 30px);
    background-color: white;
    border-radius: 7px;
    padding: 10px 15px;
    box-shadow: 0px 0px 4px 4px rgba(83, 83, 83, 0.038);
    display: flex;
    flex-direction: column;
}

.previousNews::-webkit-scrollbar {
    width: 7px;
}

.previousNews::-webkit-scrollbar-track {
    background-color: rgb(203, 203, 203);
    border-radius: 10px;
}

.previousNews::-webkit-scrollbar-thumb {
    background-color: rgb(128, 128, 128);
    border-radius: 10px;
    border: 1px solid rgb(203, 203, 203);
}

.previousNews::-webkit-scrollbar-thumb:hover {
    background-color: rgb(110, 110, 110);
}

.oldNews {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    height: min-content;
    margin: 5px 0px;
}

.oldNews p,
.oldNews h5 {
    margin: 0;
}

.oldNews img {
    object-fit: cover;
    width: 30%;
    border-radius: 7px;
}

.oldDetail {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.oldDetail span {
    font-size: 12px;
    align-self: flex-end;
}

@media (max-width: 1400px) {
    .previousNews {
        max-height: 50vh;
    }
}
@media (max-width: 1250px) {
    .newsCanvas{
        gap: 45px;
        padding: 30px 40px;
    }
}

@media (max-width: 1030px) {
    .newsCanvas {
        flex-direction: column;
        gap: 35px;
        padding: 30px 35px;
    }

    .latestNews {
        width: 100%;
        display: flex;
        padding: 10px 15px;
        border-radius: 7px;
    }

    .latestNews img {
        border-radius: 7px;
    }

    .detail {
        padding: 10px;
    }
    .detail p{
        font-size: 14px;
    }

    .previousNews {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }

    .oldNews {
        flex-direction: column
    }
    .oldNews img {
        width: 100%;
    }

    .oldNews p {
        font-size: 12px;
    }
    .oldDetail{
        width: 100%;
    }
}

@media (max-width: 760px) {
    .newsCanvas {
        padding: 30px;
    }
    
    .previousNews {
        grid-template-columns: 1fr;
    }

    .latestNews {
        display: block;
        padding: 0;
    }

    .latestNews img {
        border-radius: 7px 7px 0px 0px;
    }

    .detail {
        padding: 5px;
    }
    .oldNews {
        flex-direction: row;
    }
    .oldNews img{
        width: 40%;
    }
}

@media (max-width: 600px) {
    .newsCanvas {
        padding: 20px;
    }
}

@media (max-width: 576px) {
    .latestNews p{
        font-size: 12px;
    }
    .newsPaper {
        padding: 20px;
    }
}

@media (max-width: 500px) {
    .newsCanvas {
        padding: 10px;
        gap: 20px;
    }

    .oldDetail h5 {
        font-size: 16px;
    }
    .oldDetail p {
        font-size: 10px;
    }
}
