.ourTeam {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.memberId {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: max-content;
    margin: 20px auto;
}

.memberId img {
    border-radius: 50%;
}

.memberDesc {
    text-align: center;
}

.memberDesc a {
    text-decoration: none;
    color: black;
}

.memebrDesc h5,
.memebrDesc h6 {
    margin: 0;
}

@media (max-width: 550px) {
    .OurTeam {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
}
