* {
    margin: 0;
    padding: 0;
}

.canvas {
    min-height: 55vh;
    width: 90%;
    margin: 60px auto;
}

hr {
    margin: 50px 0px;
}

.headings {
    font-size: 30px;
    margin: 10px 0px;
}

/* hero styles */

.title {
    font-size: 24px;
    user-select: none;
}

.hero {
    height: calc(100vh - 40px);
    background-image: linear-gradient(#f4eeeb, #ebe7e4);
    border-radius: 20px;
    margin: 20px 40px 25px 40px;
}

.welcome {
    display: flex;
    align-items: center;
    height: calc(100% - 63px);
}

.domain::after {
    animation: changeDomain 10s linear infinite;
    content: "";
    color: #82001a;
}

@keyframes changeDomain {
    0% {
        content: 'Artificial Intelligence';
    }

    8% {
        content: 'Electric Vehicles';
    }

    24% {
        content: 'Renewable Energy';
    }

    38% {
        content: 'Electrical Engineering';
    }

    52% {
        content: 'Internet Of Things';
    }

    67% {
        content: 'Electronics';
    }

    83% {
        content: 'Robotics';
    }

    100% {
        content: 'Artificial Intelligence';
    }
}

.explore {
    padding: 4px 15px;
    border-radius: 50px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: 500;
    margin: 8px 0px;
    transition: 0.2s;
    background-color: transparent;
    user-select: none;
}

.explore:hover {
    transform: scale(1.1);
    background-color: black;
    color: white;
}

.intro {
    width: 60%;
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}

.intro h1 {
    font-weight: 600;
    margin: 0;
}

.ieiLogo {
    display: flex;
    justify-content: center;
    width: 40%;
}

.ieiLogo img {
    width: 70%;
    box-shadow: 0px 0px 5px rgb(98, 98, 98);
    border-radius: 50%;
}

/* about us styles */

.aboutUs {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0px 40px;
}

.aboutInfo {
    width: 60%;
    line-height: 30px;
    word-spacing: 10px;
}

.aboutInfo p {
    margin: 20px 0px;
}

.aboutImg {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    flex-direction: column;
}

.ourTeamBtn{
    justify-self: flex-start;
    background-color: #fff;
    margin: 10px 0px;
    padding: 2px 10px;
    display: flex;
    align-items: baseline;
    font-size: 18px;
    border: none;
    background-color: rgb(241, 241, 241);
    transition: 0.3s ease;
    border-radius: 7px;
}

.teamArrow{
    font-size: 22px;
    transition: 0.3s ease;
}

.ourTeamBtn:hover{
    border-radius: 0px 20px 20px 0px;
}

.ourTeamBtn:hover > .teamArrow{
    margin-left: 15px;
}

.aboutImg img {
    width: 80%;
    padding: 0px 20px;
}

.stats {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1%;
}

.stats h2 {
    font-weight: 650;
    margin: 0;
}

.s1,
.s2,
.s3 {
    text-align: center;
    position: relative;
}

/* team styles */

.ourTeam {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

.memberId {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: max-content;
    margin: 20px auto;
}

.memberId img {
    border-radius: 50%;
    object-fit: cover;
}

.memberDesc {
    text-align: center;
}

.memberDesc a {
    text-decoration: none;
    color: black;
}

.memebrDesc h5,
.memebrDesc h6 {
    margin: 0;
}

@media (max-width: 550px) {
    .OurTeam {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
}


/* hero mediaquery */

@media (max-width: 1015px){
    .hero{
        height: max-content;
    }
    .welcome{
        flex-direction: column-reverse;
        height: fit-content;
        padding: 40px 0px;
        gap: 20px;
    }
    .intro{
        width: 100%;
    }
    .ieiLogo{
        width: 100%;
    }
    .ieiLogo img{
        width: 30%;
    }
}

@media (max-width: 760px){
    .hero{
        margin: 30px;
    }
    .ieiLogo img{
        width: 35%;
    }
    .intro{
        padding: 30px;
    }
}

@media (max-width: 576px){

    .intro h2{
        font-size: 20px;
    }
    .intro h1{
        font-size: 28px;
    }
    .hero{
        margin: 20px;
    }
    .intro{
        padding: 20px;
    }
    .explore{
        font-size: 14px;
    }
    .ieiLogo img{
        width: 40%;
    }
}
@media (max-width: 428px){
    .intro h2{
        font-size: 16px;
    }
    .intro h1{
        font-size: 24px;
    }
}

/* about us mediaquery */

@media (max-width: 1100px){
    .aboutUs{
        height: max-content;
    }
    .aboutInfo{
        width: 55%;
        text-align: justify;
    }
    .aboutImg{
        width: 45%;
    }
    .aboutImg img, .stats{
        width: 80%;
    }
}

@media (max-width: 1000px){
    .aboutInfo{
        line-height: 25px;
    }
}

@media (max-width: 900px){
    .aboutImg img{
        width: 90%;
    }
    .stats{
        width: 90%;
    }
    .aboutInfo{
        line-height: 20px;
    }
}
@media (max-width: 800px){
    .aboutUs{
        flex-direction: column;
        padding: 40px;
    }
    .aboutInfo{
        width: 100%;
        text-align: justify;
    }
    .aboutImg{
        width: 100%;
    }
    .stats h2{
        font-size: 26px;
    }
    .stats span{
        font-size: 12px;
    }
    .aboutImg img, .stats{
        margin: 0 auto;
        width: 60%;
    }
    .ourTeamBtn{
        font-size: 14px;
    }
    .teamArrow{
        font-size: 18px;
    }
}

@media (max-width: 660px){
    .aboutImg img, .stats{
        width: 85%;
    }
}

@media (max-width: 436px){
    .aboutUs{
        padding: 40px 20px;
        gap: 15px;
    }
    .stats, .aboutImg img{
        width: 100%;
    }
    .aboutInfo p{
        margin: 0;
    }
}
